@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LTAsus;
  src: url(/fonts/LTAsusPrintRegular1.otf);
}

@font-face {
  font-family: LTAsus;
  src: url(/fonts/LTAsusPrintBold1.otf);
}

:root {
  /* Accent */
  --clr-pink: #ffd7f5;

  --clr-brown: #9a2d2f;
}

@layer base {
  * {
    @apply font-LTAsus;
  }
}

@layer components {
  .button {
    @apply bg-[--clr-brown] transition text-white py-1 px-4 rounded-3xl font-bold hover:brightness-125;
  }
}
