---
import Avatar from "./Avatar.astro";

// Images
import Cocktail from '../assets/candy/cocktail-svgrepo-com.svg';
import Wallet from '../assets/candy/wallet-svgrepo-com.svg';
import MilkTea from '../assets/candy/milk-tea-svgrepo-com.svg';

const postImage = {
  1: Cocktail,
  2: Wallet, 
  3: MilkTea
}

const randomImage = (num: number) => {
  switch(num) {
    case 1:
      return Cocktail
    case 2:
      return Wallet
    case 3: 
      return MilkTea
  }
}

const { slug, title, type, date } = Astro.props;
---

<a href=`/posts/${slug}` class="grid grid-cols-2 border-2 border-[--clr-brown] rounded-l-full group">
  <div class="w-2/3 group-hover:bg-[--clr-pink] rounded-full transition">
    <Avatar img={randomImage(type)} alt="Random post image" />
  </div>
  <div class="self-center">
    <h2 class="truncate text-xl group-hover:-skew-x-12 transition">{title}</h2>
    <h3 class="text-sm">Date: {new Date(date).toLocaleDateString()}</h3>
  </div>
</a>